* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  text-decoration: none;
  font-family: "Baloo Bhaijaan 2", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=0e0d0e&c2=ececee&gt=c&gd=dtr
*/
  background: rgba(14, 13, 14, 1);
  background: conic-gradient(
    from 45deg,
    rgb(177, 174, 177),
    rgba(236, 236, 238, 1)
  );
}

/* NAVBAR STYLES */
.container {
  display: flex;
  gap: 4rem;
  align-items: center;
  margin: 1.33rem 3rem;
  transition: all 0.3s ease;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

span {
  font-size: 1.75rem;
  font-family: "Wallpoet", sans-serif;
  font-family: "Comforter Brush", cursive;
  font-weight: 700;
  letter-spacing: 1px;
}
span {
  color: rgb(195, 83, 35);
  font-family: "Comforter Brush", cursive;
  font-size: 3rem;
}
.container img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.navbar {
  margin-left: auto;
  display: flex;
  gap: 3rem;
  border: 1px solid #c3c3c3;
  border-radius: 33px;
  padding: 0.5rem 1rem;
  background: rgba(14, 13, 14, 1);
  background: conic-gradient(
    from -45deg,
    rgb(159, 156, 159),
    rgba(236, 236, 238, 1)
  );
}

.nav-link {
  padding: 6px 4px;
}

.nav-link a {
  font-size: 1.57rem;
  font-weight: 500;
  color: #1b1b1b;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16rem;
  padding: 5rem 3rem;
  transition: all 0.3s ease;
}

header h2 {
  font-size: 4.5rem;
  line-height: 6.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

header h4 {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 3rem;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.btn a {
  background-color: rgb(44, 43, 43);
  color: #fff;
  padding: 6px 14px;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 33px;
  transition: all 0.3s ease-in-out;
}

.btn i {
  background-color: rgb(9, 61, 157);
  color: #fff;
  width: 40px;
  height: 40px;
  padding: 11px 12px;
  font-size: 1.5rem;
  border-radius: 33px;
  transform: rotate(-45deg);
  transition: all 0.3s ease;
}

.btn i:hover {
  cursor: pointer;
  transform: rotate(0);
}

.btn a:hover {
  background-color: rgba(44, 43, 43, 0.9);

  /* opacity: 0.8; */
}

.right {
  padding: 2rem;
}

.right img {
  /* border-radius: 50%; */
  filter: drop-shadow(7px 7px 3px #1b1b1b);
}

/* ABOUT SECTION STYLES */
.about {
  /* max-width: 50%; */
  margin-left: auto;
  padding: 9rem 4.5rem 0;
}

.about h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.about p {
  margin-top: 0.7rem;
}

.about h3 {
  font-size: 2rem;
  color: #6e6c6c;
  font-weight: 500;
  max-width: 70%;
  margin: auto;
  margin-bottom: 3rem;
}

/* WORK SECTION STYLES */

.works-list {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.7rem;
}
.works-list li {
  padding: 0.6rem 0.8rem;
  border: 1px solid #c3c3c3;
  border-radius: 7px;
  transition: all 0.3s ease-in-out;
}

.works-list li:hover {
  background-color: #c3c3c3;
  cursor: pointer;
}
.works-list li a {
  font-size: 1.5rem;
  color: #1b1b1b;
  font-weight: 500;
}

.works-list .active {
  background-color: #1b1b1b;
}
.works-list .active a {
  color: #fff;
}

.works-list .active a:hover {
  color: #1b1b1b;
}

.work-btn a {
  background-color: transparent;
  color: #1b1b1b;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 0;
  transition: all 0.3s ease-in-out;
  text-decoration: underline;
}

.work-btn a:hover {
  background-color: transparent;
}

.grid {
  max-width: 1350px;
  width: 100%;
  /* height: 768px; */
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
}

.box img {
  width: 100%;
  object-fit: cover;
  border-radius: 7px;
  opacity: 0.7;
  transition: all 0.4s ease-in-out;
}

.box img:hover {
  transform: scale(1.03);
  opacity: 1;
}

.box h3 {
  margin: 0;
  text-align: left;
  margin-bottom: 2rem;
}

.box small a {
  text-decoration: underline;
  cursor: pointer;
  font-size: 1.2rem;
  color: rgb(195, 83, 35);
  font-weight: 500;
}

.grid .box {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

/* WORK SECTION STYLE END */

/* RESPONSIVE BREAKPOINTS */

@media (max-width: 1040px) {
  header {
    gap: 4rem;
  }
}

@media (max-width: 940px) {
  header {
    gap: 1rem;
  }
}

@media (max-width: 890px) {
  header {
    gap: 1rem;
    flex-direction: column-reverse;
    padding-top: 0;
  }

  .right {
    padding: 0;
  }

  .right img {
    border-radius: 50%;
    width: 350px;
    height: auto;
  }
}

@media (max-width: 585px) {
  .container {
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.87rem;
  }

  .logo {
    flex-direction: column;
  }

  .logo img {
    width: 50px;
    height: 50px;
  }

  .navbar {
    margin-left: 0;
  }

  header {
    align-items: center;
    text-align: left;
    max-width: 100%;
    margin: auto;
    padding: 0 0.5rem;
    padding-top: 1rem;
    text-align: center;

    /* margin: 1.33rem 3rem; */
    transition: all 0.3s ease;
  }

  header h2 {
    font-size: 2.85rem;
    font-weight: 600;
    margin-bottom: 1rem;
    line-height: normal;
    line-height: 4rem;
  }

  header h4 {
    font-size: 1.85rem;
    font-weight: 500;
  }

  .right img {
    width: 180px;
    filter: drop-shadow(7px 7px 3px #1b1b1b);
  }

  .about {
    /* max-width: 50%; */
    margin-left: 0;
    padding: 5rem 2rem;
  }

  .about h3 {
    font-size: 1.88rem;
    color: #6e6c6c;
    font-weight: 400;
    max-width: 100%;
    margin: 0;
    margin-bottom: 3rem;
    text-align: center;
  }
}

/* HERO IMAGE ANIMATION */
.right img {
  animation: play 3s ease-in-out infinite;
  animation-delay: 2s;
}

@keyframes play {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}
